*{
margin:0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border:none;
outline:none;
scroll-behavior: smooth;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

html{
    font-size:60%;
    overflow-x: hidden;
}

body{
    background:#080808;
    color:white;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:5;
}

.logo{
    font-size:3rem;
    color:white;
    font-weight:800;
    cursor: pointer;
    transition:0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    /* text-shadow: 0 0 25px #00BFA6; */
    /* text-shadow: 0 0 25px #00ADEF; */
    text-shadow: 0 0 25px #FFBF00;
}

.navbar a{
    font-size:1.8rem;
    color:white;
    margin-left:4rem;
    font-weight: 500;
    transition:0.3s ease;
    border-bottom:3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color:#FFBF00;
    border-bottom:3px solid #FFBF00;
}

#menu-icon{
    font-size:3.6rem;
    color:#FFBF00;
    display:none;
}

section{
    min-height:100vh;
    padding: 18rem 12% 18rem;
}

.home{
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-content{
    display:flex;
    flex:1;
    flex-direction: column;
    align-items: baseline;
    text-align:right;
    justify-content: center;
    margin-top: 3rem;
    max-width: 700px;;
}

span{
    color:#FFBF00;
}

.logo span{
    color: #FFBF00;
}

.home-content h3{
    margin-bottom: 2rem;
    margin: top 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    padding-right: 270px;
}
img{
    position: relative;
    height:300px;
    width:300px;
    margin-top:100px;
    margin-left:40px;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0 0 25px #FFBF00;
    transition: 0.4s ease-in-out;
    flex:1;
}

img:hover{
    box-shadow: 0 0 25px #FFBF00,
                0 0 40px #FFBF00,
                0 0 60px #FFBF00;
}

.home-content p{
    font-size:1.5rem;
    font-weight:500;
    line-height:1.8;
    width:500px;

}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4.5rem;
    height:4.5rem;
    background: transparent;
    border:2px solid #FFBF00;
    font-size: 2.5rem;
    color:#FFBF00;
    border-radius: 50%;
    margin:3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
