
*{
margin:0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border:none;
outline:none;
scroll-behavior: smooth;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

html{
    font-size:60%;
    overflow-x: hidden;
}
body{
    background:#080808;
    color:white;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:5;
}
.logo{
    font-size:3rem;
    color:white;
    font-weight:800;
    cursor: pointer;
    transition:0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    /* text-shadow: 0 0 25px #00BFA6; */
    /* text-shadow: 0 0 25px #00ADEF; */
    text-shadow: 0 0 25px #FFBF00;
}







